.cards-container {
  display: flex;
  flex-flow: row wrap;
  /* align-items: center; */
  justify-content: center;
}

.card {
  padding: 8px;
  /* width: 335px; */
  /* height: 550px; */
  text-align: center;
  background: snow;
  /* border: 5px solid blueviolet; */
  /* padding: 20px; */
  margin: 20px;
  /* box-shadow: 0px 0px 10px 3px aliceblue; */
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto;
  /* flex-flow: row wrap; */
}

.rotate {
  /* float: left; */
  /* text-align: left; */
}

.map-box {
  /* height: 200px; */
  grid-row: 1 / span 1;
  /* width: 340px; */
  /* background-color: lightgrey; */
  position: relative;
  /* border-right: 2px dotted black; */
}

.overlay {
  position: absolute;
  /* margin-left: 15px; */
}

.info-box {
  /* bottom: 0; */
  grid-row: 2 / span 3;
}

.delete {
  top: 6px;
  right: 6px;
  color: #222;
}
.delete:hover {
  color: tomato;
}

.location-container {
  grid-row: 1 / span 1;
  background: snow;
}

.location {
  width: 300px;
  transform: rotate(90deg) translateX(-50px);
  transform-origin: bottom left;
  color: black;
  text-align: left;
}

.city-name {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

.weather-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background: indianred;
}
.weather-temp {
  display: inline-block;
}
.weather-description {
  display: inline-block;
}